// SETUP
@import "./setup/typography";
@import "./setup/variables";
// @import "./setup/functions";

//BASIC
@import "./basic/base";
@import "./basic/helpers";

//PAGES
@import "./pages/app";
@import "./pages/home";
@import "./pages/pop-app";

// COMPONENTS
@import "./cmps/header";
@import "./cmps/footer";
