header {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    padding: 50px 25px;
    background-color: $grey-light;

    nav {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
            font-weight: 600;
        }

        a.active {
            color: $brand;
            cursor: default;
        }
    }

    svg {
        height: 75px;
    }

    .action {
        flex-grow: 1;
    }
}

@media (min-width: 641px) {
    header {
    }
}
