#root {
    // width: 100vw;
    // height: 100vh;

    .app {
        display: flex;
        // flex-direction: column;

        > *:not(header) {
            width: calc(100vw - 250px);
            padding: 25px;
            height: 100vh;
            overflow-y: scroll;
        }
    }
}

@media (min-width: 641px) {
    #root {
        .app {
        }
    }
}
