.pop-app {
    .pop-list {
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        .pop-preview {
            cursor: pointer;
            width: 200px;
            padding: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .img-container {
                height: 225px;
            }

            h3.pop-name {
                font-family: fredoka, sans-serif;
                font-weight: normal;
                margin-bottom: 8px;
            }

            b.pop-price {
                font-size: 18px;
                color: $brand-sub;
                margin-bottom: 8px;
            }
        }
    }
}
