* {
    box-sizing: border-box;
}

html {
    font-family: fredoka, sans-serif;
}

body {
    margin: 0;
    // background-color: $bg;
    color: $txt;
    overflow-x: hidden;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

a {
    color: $txt;
    text-decoration: none;
    font-size: 18px;

    &:hover {
        color: $white;
    }
}

button {
    cursor: pointer;
    border-radius: 100px;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-family: fredoka, sans-serif;

    &.add-to-cart {
        display: flex;
        background-color: $brand;
        font-family: fredoka-medium, sans-serif;

        &:hover {
            transform: scale(105%);
        }
    }
}

img {
    height: 100%;
    object-fit: cover;
}

input {
    border: none;
    outline: none;
    font-family: sans-serif;
    margin: 0;
    cursor: pointer;
}

hr {
    width: 25px;
    border: 0;
    border-bottom: 5px dotted $brand;
    margin: 15px;
}

    ::-webkit-scrollbar {
        display: block;
        width: 16px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: $black-opc;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: $grey-light;
        border-radius: 10px;
    }


// ::-webkit-scrollbar {
//     display: none;
// }

// @media (min-width: 641px) {
//     ::-webkit-scrollbar {
//         display: block;
//         width: 16px;
//         border-radius: 10px;
//     }

//     ::-webkit-scrollbar-track {
//         // background: $g4-opc;
//         border-radius: 10px;
//     }

//     ::-webkit-scrollbar-thumb {
//         background: $txt;
//         border-radius: 10px;
//     }
// }
