@font-face {
    font-family: fredoka;
    src: url(../../fonts/Fredoka/Fredoka-Regular.ttf);
}
@font-face {
    font-family: fredoka-light;
    src: url(../../fonts/Fredoka/Fredoka-Light.ttf);
}
@font-face {
    font-family: fredoka-medium;
    src: url(../../fonts/Fredoka/Fredoka-Medium.ttf);
}
